.heroSection {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #e2e8f0;
}

.featuresSection {
  margin: 16px auto;
  max-width: 700px;
}

.featuresSection .featuresDescription {
  color: rgb(93, 93, 93);
}

.featuresSection .featuresGrid {
  margin: 16px;
}

.featuresSection .featuresGrid h3 {
  margin-top: 24px;
}